    <div id="header" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand defaultfocus">Bootstrap Page Builder</a>
            </div>

            <nav class="collapse navbar-collapse bs-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">New</a>
                    </li>
                    <li>
                        <a href="#">Save</a>
                    </li>
                    <li>
                        <a href="#">Load Existing</a>
                    </li>
                    <li>
                        <a href="#" data-pb-components-drawer>Component Drawer</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- /#header -->